In [97]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [98]:
!cp gdrive/MyDrive/GitHub/NLP-project-/preprocessing_functions.py .

In [99]:
import pandas as pd
import numpy as np
import re
import nltk
import spacy
import string
import preprocessing_functions

In [100]:
!python preprocessing_functions.py

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [101]:
execfile('preprocessing_functions.py')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

#Text pre-processing

In [ ]:
#df = pd.read_csv('NLP_project_kickoff_data.csv', encoding='utf-8')
#df = pd.read_csv('Instagram.csv', encoding='utf-8')
df=pd.read_csv('Instagram_profile_20220220_172954.success.csv', encoding='utf-8', sep=',')
df

#df_emo= pd.read_csv('emojis.csv')

In [113]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,'percent_missing': percent_missing})
missing_value_df

                           column_name  percent_missing
account                        account         0.054997
caption                        caption         0.539243
profile_name              profile_name         0.315229
profile_image_link  profile_image_link         0.056339
biography                    biography         1.024829
id                                  id         0.022804
business_email          business_email        99.998659
external_url              external_url         2.922910
following                    following         0.021462
likes                            likes         0.056339
media_type                  media_type         0.056339
posts_count                posts_count         0.021462
followers                    followers         0.022804
is_verified                is_verified        83.266040
datetime                      datetime         0.056339
image_url                    image_url         0.056339
url                                url         0.056339
comments                      comments         0.056339
thumbnails                  thumbnails         0.056339
location                      location        50.499671

In [ ]:
df.dtypes

In [105]:
string_columns=['biography', 'caption']

In [106]:
df.shape

(74549, 20)

##Emoji replacement

In [ ]:
#To be run for other instagram datasets 
# for i in string_columns:
#   emojis_replacement(df[i])

In [107]:
pip install emot

Requirement already satisfied: emot in /usr/local/lib/python3.7/dist-packages (3.1)

In [114]:
import re
import pickle
#from emot.emo_unicode import UNICODE_EMO, EMOTICONS
from emot.emo_unicode import UNICODE_EMOJI # For emojis
from emot.emo_unicode import EMOTICONS_EMO # For EMOTICONS

with open('Emoji_Dict.p', 'rb') as fp:
    Emoji_Dict = pickle.load(fp)
Emoji_Dict = {v: k for k, v in Emoji_Dict.items()}

# def convert_emojis_to_word(text):
#     for emot in Emoji_Dict:
#         text = re.sub(r'('+emot+')', "_".join(Emoji_Dict[emot].replace(",","").replace(":","").split()), text)
#     return text

In [70]:
#Just to see if it works fine
convert_emojis_to_word(df['biography'][1])

'globe_showing_Americas🧳fire1st_place_medalartist_palettewine_glasshot_beverage\n          🇻🇪  🇨🇴\nEMPRESARIO SOÑADOR\n@alexpintoarte\n@ileinktattoostudio\n@microcapillum'

In [71]:
df.biography

0                                                      NaN
1        🌎🧳🔥🥇🎨🍷☕\n          🇻🇪  🇨🇴\nEMPRESARIO SOÑADOR\...
2                                                      NaN
3            Consultant Plastic and Reconstructive Surgeon
4                                                      NaN
                               ...
74544    At the forefront of the luxury hotel scene for...
74545    At the forefront of the luxury hotel scene for...
74546    At the forefront of the luxury hotel scene for...
74547    At the forefront of the luxury hotel scene for...
74548    At the forefront of the luxury hotel scene for...
Name: biography, Length: 74549, dtype: object

In [ ]:
#DO NOT RUN. It takes 2h36 min to run. No need to compile again. The result is stored in a new dataset 'data_with_converted_emojis_bio.csv'
#df.biography=df.biography.map(lambda x : convert_emojis_to_word(str(x)))

In [16]:
#df.to_csv('data_with_converted_emojis_bio.csv', encoding='utf-8')

In [ ]:
#DO NOT RUN. It takes 2h36 min to run. No need to compile again. The result is stored in a new dataset 'data_with_converted_emojis_cap.csv'
#df.caption=df.caption.map(lambda x : convert_emojis_to_word(str(x)))

In [ ]:
#df.to_csv('data_with_converted_emojis_cap.csv', encoding='utf-8')

In [115]:
df=pd.read_csv('data_with_converted_emojis_cap.csv')

In [70]:
# def remove_not_necessary_emo(text):
  
#   emoji_pattern = re.compile("["
#            u"\U0001F600-\U0001F64F"  # emoticons
#         u"\U0001F300-\U0001F5FF"  # symbols & pictographs
#         u"\U0001F680-\U0001F6FF"  # transport & map symbols
#         u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
#         u"\U00002500-\U00002BEF"  # chinese char
#         u"\U00002702-\U000027B0"
#         u"\U00002702-\U000027B0"
#         u"\U000024C2-\U0001F251"
#         u"\U0001f926-\U0001f937"
#         u"\U00010000-\U0010ffff"
#         u"\u2640-\u2642" 
#         u"\u2600-\u2B55"
#         u"\U0001F1F2"
#         u"\U0001F1F4"
#         u"\u200d"
#         u"\u23cf"
#         u"\u23e9"
#         u"\u231a"
#         u"\ufe0f"  # dingbats
#         u"\u3030"
#                             "]+", flags=re.UNICODE)
#   return emoji_pattern.sub(r' ', text)

In [116]:
df.biography=df.biography.map(lambda x : remove_not_necessary_emo(str(x))) 
df.caption=df.caption.map(lambda x : remove_not_necessary_emo(str(x))) 
df

,Unnamed: 0,Unnamed: 0.1,account,caption,profile_name,profile_image_link,biography,id,business_email,external_url,...,media_type,posts_count,followers,is_verified,datetime,image_url,url,comments,thumbnails,location
0,0,0,NaN,nan,NaN,NaN,nan,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,nan,NaN,NaN,globe_showing_Americas fire1st_place_medalarti...,3.654414e+09,NaN,NaN,...,NaN,515.0,1244.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,NaN,nan,NaN,NaN,nan,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,NaN,nan,NaN,NaN,Consultant Plastic and Reconstructive Surgeon,1.366797e+09,NaN,http://www.psauk.org/,...,NaN,8.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,NaN,nan,NaN,NaN,nan,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44154,44154,44154,drdariushnikkhah,Finalising the 50 chapters of an exciting book...,Mr Dariush Nikkhah FRCS(Plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,Consultant Plastic Surgeon\nblack_small_square...,2.648973e+18,NaN,https://www.plasticreconsurg.co.uk/,...,Image,136.0,1124.0,NaN,1.630002e+12,j_kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/CTDCnYcqSBP/,6.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....","London, United Kingdom"
44155,44155,44155,drdariushnikkhah,At Harefield heart red_heart hospital - proba...,Mr Dariush Nikkhah FRCS(Plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,Consultant Plastic Surgeon\nblack_small_square...,2.647971e+18,NaN,https://www.plasticreconsurg.co.uk/,...,Image,136.0,1124.0,NaN,1.629883e+12,j_kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/CS_e1ntq-Qo/,3.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....",NaN
44156,44156,44156,drdariushnikkhah,Great to be back at the first face to face sci...,Mr Dariush Nikkhah FRCS(Plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,Consultant Plastic Surgeon\nblack_small_square...,2.659552e+18,NaN,https://www.plasticreconsurg.co.uk/,...,Carousel,136.0,1124.0,NaN,1.631263e+12,j_kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/CTooI4TK0sF/,0.0,"[{""src"":""https://scontent-lhr8-1.cdninstagram....","Oxford, Oxfordshire"
44157,44157,44157,drdariushnikkhah,Before and after of a bilateral breast reducti...,Mr Dariush Nikkhah FRCS(Plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,Consultant Plastic Surgeon\nblack_small_square...,2.646593e+18,NaN,https://www.plasticreconsurg.co.uk/,...,Image,136.0,1124.0,NaN,1.629718e+12,j_kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/CS6lisWKX4k/,7.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....","London, United Kingdom"
44158,44158,44158,drdariushnikkhah,Local anaesthetic flexor tendon repair is a sa...,Mr Dariush Nikkhah FRCS(Plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,nan,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##Underscores replacement

In [110]:
df=df.apply(lambda x: x.astype(str).str.replace('_',' '))

In [ ]:
df.head()

##Creation of Hashtags

In [74]:
df["hashtags"] = df.caption.apply(lambda x: [x for x in str(x).split(" ") if x.startswith("#")])

##Text Lower

In [75]:
df=df.apply(lambda x: x.astype(str).str.lower())
df

,Unnamed: 0,Unnamed: 0.1,account,caption,profile_name,profile_image_link,biography,id,business_email,external_url,...,posts_count,followers,is_verified,datetime,image_url,url,comments,thumbnails,location,hashtags
0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,[]
1,1,1,nan,nan,nan,nan,globe showing americas fire1st place medalarti...,3654413533.0,nan,nan,...,515.0,1244.0,nan,nan,nan,nan,nan,nan,nan,[]
2,2,2,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,[]
3,3,3,nan,nan,nan,nan,consultant plastic and reconstructive surgeon,1366797112.0,nan,http://www.psauk.org/,...,8.0,13.0,nan,nan,nan,nan,nan,nan,nan,[]
4,4,4,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44154,44154,44154,drdariushnikkhah,finalising the 50 chapters of an exciting book...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,consultant plastic surgeon\nblack small square...,2.648972508227248e+18,nan,https://www.plasticreconsurg.co.uk/,...,136.0,1124.0,nan,1630002152000.0,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/ctdcnycqsbp/,6.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....","london, united kingdom",[]
44155,44155,44155,drdariushnikkhah,at harefield heart red heart hospital - proba...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,consultant plastic surgeon\nblack small square...,2.647970732086912e+18,nan,https://www.plasticreconsurg.co.uk/,...,136.0,1124.0,nan,1629882731000.0,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/cs e1ntq-qo/,3.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....",nan,[]
44156,44156,44156,drdariushnikkhah,great to be back at the first face to face sci...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,consultant plastic surgeon\nblack small square...,2.6595521120296827e+18,nan,https://www.plasticreconsurg.co.uk/,...,136.0,1124.0,nan,1631263339000.0,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/ctooi4tk0sf/,0.0,"[{""src"":""https://scontent-lhr8-1.cdninstagram....","oxford, oxfordshire",[]
44157,44157,44157,drdariushnikkhah,before and after of a bilateral breast reducti...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,consultant plastic surgeon\nblack small square...,2.646592842833166e+18,nan,https://www.plasticreconsurg.co.uk/,...,136.0,1124.0,nan,1629718474000.0,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/cs6liswkx4k/,7.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....","london, united kingdom","['#plasticsurgery', '#breastsurgery', '#breast..."
44158,44158,44158,drdariushnikkhah,local anaesthetic flexor tendon repair is a sa...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,"['#wideawakehandsurgery', '#walant', '#flexort..."

##Remove punctuation

In [76]:
df["biography_wo_punc"] = df["biography"].str.replace('[{}]'.format(string.punctuation), '')
df["caption_wo_punc"] = df["caption"].str.replace('[{}]'.format(string.punctuation), '')
df["profile_wo_punc"] = df["profile_name"].str.replace('[{}]'.format(string.punctuation), '')
# df["tokens_wo_punc"] = df["tokens"].str.replace('[{}]'.format(string.punctuation), '')

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,Unnamed: 0.1,account,caption,profile_name,profile_image_link,biography,id,business_email,external_url,...,datetime,image_url,url,comments,thumbnails,location,hashtags,biography_wo_punc,caption_wo_punc,profile_wo_punc
0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,[],nan,nan,nan
1,1,1,nan,nan,nan,nan,globe showing americas fire1st place medalarti...,3654413533.0,nan,nan,...,nan,nan,nan,nan,nan,nan,[],globe showing americas fire1st place medalarti...,nan,nan
2,2,2,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,[],nan,nan,nan
3,3,3,nan,nan,nan,nan,consultant plastic and reconstructive surgeon,1366797112.0,nan,http://www.psauk.org/,...,nan,nan,nan,nan,nan,nan,[],consultant plastic and reconstructive surgeon,nan,nan
4,4,4,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,[],nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44154,44154,44154,drdariushnikkhah,finalising the 50 chapters of an exciting book...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,consultant plastic surgeon\nblack small square...,2.648972508227248e+18,nan,https://www.plasticreconsurg.co.uk/,...,1630002152000.0,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/ctdcnycqsbp/,6.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....","london, united kingdom",[],consultant plastic surgeon\nblack small square...,finalising the 50 chapters of an exciting book...,mr dariush nikkhah frcsplast
44155,44155,44155,drdariushnikkhah,at harefield heart red heart hospital - proba...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,consultant plastic surgeon\nblack small square...,2.647970732086912e+18,nan,https://www.plasticreconsurg.co.uk/,...,1629882731000.0,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/cs e1ntq-qo/,3.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....",nan,[],consultant plastic surgeon\nblack small square...,at harefield heart red heart hospital probab...,mr dariush nikkhah frcsplast
44156,44156,44156,drdariushnikkhah,great to be back at the first face to face sci...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,consultant plastic surgeon\nblack small square...,2.6595521120296827e+18,nan,https://www.plasticreconsurg.co.uk/,...,1631263339000.0,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/ctooi4tk0sf/,0.0,"[{""src"":""https://scontent-lhr8-1.cdninstagram....","oxford, oxfordshire",[],consultant plastic surgeon\nblack small square...,great to be back at the first face to face sci...,mr dariush nikkhah frcsplast
44157,44157,44157,drdariushnikkhah,before and after of a bilateral breast reducti...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,consultant plastic surgeon\nblack small square...,2.646592842833166e+18,nan,https://www.plasticreconsurg.co.uk/,...,1629718474000.0,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/cs6liswkx4k/,7.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....","london, united kingdom","['#plasticsurgery', '#breastsurgery', '#breast...",consultant plastic surgeon\nblack small square...,before and after of a bilateral breast reducti...,mr dariush nikkhah frcsplast
44158,44158,44158,drdariushnikkhah,local anaesthetic flexor tendon repair is a sa...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,"['#wideawakehandsurgery', '#walant', '#flexort...",nan,local anaesthetic flexor tendon repair is a sa...,mr dariush nikkhah frcsplast

In [77]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [78]:
df["biography_wo_stop"] = df["biography_wo_punc"].apply(lambda text: remove_stopwords(text))
df["caption_wo_stop"] = df["caption_wo_punc"].apply(lambda text: remove_stopwords(text))
df["profile_wo_stop"] = df["profile_wo_punc"].apply(lambda text: remove_stopwords(text))
# df["tokens_wo_stop"] = df["tokens_wo_punc"].apply(lambda text: remove_stopwords(text))

##Removal of frequent words

In [79]:
from collections import Counter
cnt = Counter()
for text in df["biography_wo_stop"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(10)

[('round', 6166),
 ('london', 6124),
 ('skin', 5701),
 ('heart', 5503),
 ('open', 5211),
 ('plastic', 4725),
 ('index', 4648),
 ('pointing', 4648),
 ('surgeon', 4456),
 ('hotel', 3652)]

In [80]:
FREQWORDS = set([w for (w, wc) in cnt.most_common(10)])
# def remove_freqwords(text):
#     """custom function to remove the frequent words"""
#     return " ".join([word for word in str(text).split() if word not in FREQWORDS])

df["biography_wo_stopfreq"] = df["biography_wo_stop"].apply(lambda text: remove_freqwords(text))
df["caption_wo_stopfreq"] = df["caption_wo_stop"].apply(lambda text: remove_freqwords(text))
df["profile_wo_stopfreq"] = df["profile_wo_stop"].apply(lambda text: remove_freqwords(text))
# df["tokens_wo_stopfreq"] = df["tokens_wo_stop"].apply(lambda text: remove_freqwords(text))

df.head()

,Unnamed: 0,Unnamed: 0.1,account,caption,profile_name,profile_image_link,biography,id,business_email,external_url,...,hashtags,biography_wo_punc,caption_wo_punc,profile_wo_punc,biography_wo_stop,caption_wo_stop,profile_wo_stop,biography_wo_stopfreq,caption_wo_stopfreq,profile_wo_stopfreq
0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,...,[],nan,nan,nan,nan,nan,nan,nan,nan,nan
1,1,1,nan,nan,nan,nan,globe showing americas fire1st place medalarti...,3654413533.0,nan,nan,...,[],globe showing americas fire1st place medalarti...,nan,nan,globe showing americas fire1st place medalarti...,nan,nan,globe showing americas fire1st place medalarti...,nan,nan
2,2,2,nan,nan,nan,nan,nan,nan,nan,nan,...,[],nan,nan,nan,nan,nan,nan,nan,nan,nan
3,3,3,nan,nan,nan,nan,consultant plastic and reconstructive surgeon,1366797112.0,nan,http://www.psauk.org/,...,[],consultant plastic and reconstructive surgeon,nan,nan,consultant plastic reconstructive surgeon,nan,nan,consultant reconstructive,nan,nan
4,4,4,nan,nan,nan,nan,nan,nan,nan,nan,...,[],nan,nan,nan,nan,nan,nan,nan,nan,nan

##removal of rare words

In [81]:

n_rare_words = 10
RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])

In [82]:
df["biography_wo_stopfreqrare"] = df["biography_wo_stopfreq"].apply(lambda text: remove_rarewords(text))
df["caption_wo_stopfreqrare"] = df["caption_wo_stopfreq"].apply(lambda text: remove_rarewords(text))
df["profile_wo_stopfreqrare"] = df["profile_wo_stopfreq"].apply(lambda text: remove_rarewords(text))
# df["tokens_wo_stopfreqrare"] = df["tokens_wo_stopfreq"].apply(lambda text: remove_rarewords(text))

df.head()

,Unnamed: 0,Unnamed: 0.1,account,caption,profile_name,profile_image_link,biography,id,business_email,external_url,...,profile_wo_punc,biography_wo_stop,caption_wo_stop,profile_wo_stop,biography_wo_stopfreq,caption_wo_stopfreq,profile_wo_stopfreq,biography_wo_stopfreqrare,caption_wo_stopfreqrare,profile_wo_stopfreqrare
0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,1,1,nan,nan,nan,nan,globe showing americas fire1st place medalarti...,3654413533.0,nan,nan,...,nan,globe showing americas fire1st place medalarti...,nan,nan,globe showing americas fire1st place medalarti...,nan,nan,globe showing americas fire1st place medalarti...,nan,nan
2,2,2,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,3,3,nan,nan,nan,nan,consultant plastic and reconstructive surgeon,1366797112.0,nan,http://www.psauk.org/,...,nan,consultant plastic reconstructive surgeon,nan,nan,consultant reconstructive,nan,nan,consultant reconstructive,nan,nan
4,4,4,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

##Stemming

In [ ]:
# from nltk.stem.porter import PorterStemmer

# stemmer = PorterStemmer()
# def stem_words(text):
#     return " ".join([stemmer.stem(word) for word in text.split()])

In [83]:
df["biography_stemmed"] = df["biography_wo_stopfreqrare"].apply(lambda text: stem_words(text))
df["caption_stemmed"] = df["caption_wo_stopfreqrare"].apply(lambda text: stem_words(text))
# df["profile_stemmed"] = df["profile_wo_punc"].str.apply(lambda text: stem_words(text))
# df["tokens_stemmed"] = df["tokens_wo_punc"].apply(lambda text: stem_words(text))

##Lemmatization

In [84]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [85]:
from nltk.stem import WordNetLemmatizer

# lemmatizer = WordNetLemmatizer()
# def lemmatize_words(text):
#     return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

df["biography_final"] = df["biography_stemmed"].apply(lambda text: lemmatize_words(text))
df["caption_final"] = df["caption_stemmed"].apply(lambda text: lemmatize_words(text))
df["profile_final"] = df["profile_wo_stopfreqrare"].apply(lambda text: lemmatize_words(text))
# df["tokens_final"] = df["tokens_stemmed"].apply(lambda text: lemmatize_words(text))

df.head()

,Unnamed: 0,Unnamed: 0.1,account,caption,profile_name,profile_image_link,biography,id,business_email,external_url,...,caption_wo_stopfreq,profile_wo_stopfreq,biography_wo_stopfreqrare,caption_wo_stopfreqrare,profile_wo_stopfreqrare,biography_stemmed,caption_stemmed,biography_final,caption_final,profile_final
0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,1,1,nan,nan,nan,nan,globe showing americas fire1st place medalarti...,3654413533.0,nan,nan,...,nan,nan,globe showing americas fire1st place medalarti...,nan,nan,globe show america fire1st place medalartist p...,nan,globe show america fire1st place medalartist p...,nan,nan
2,2,2,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,3,3,nan,nan,nan,nan,consultant plastic and reconstructive surgeon,1366797112.0,nan,http://www.psauk.org/,...,nan,nan,consultant reconstructive,nan,nan,consult reconstruct,nan,consult reconstruct,nan,nan
4,4,4,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

##Removal of URLs

In [31]:
df['biography_final'] = df['biography_final'].apply(lambda x: re.split('https:\/\/.*', str(x))[0])
df['caption_final'] = df['caption_final'].apply(lambda x: re.split('https:\/\/.*', str(x))[0])
df

,Unnamed: 0,Unnamed: 0.1,account,caption,profile_name,profile_image_link,biography,id,business_email,external_url,...,caption_wo_stopfreq,profile_wo_stopfreq,biography_wo_stopfreqrare,caption_wo_stopfreqrare,profile_wo_stopfreqrare,biography_stemmed,caption_stemmed,biography_final,caption_final,profile_final
0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,1,1,nan,nan,nan,nan,globe showing americas fire1st place medalarti...,3654413533.0,nan,nan,...,nan,nan,globe showing americas fire1st place medalarti...,nan,nan,globe show america fire1st place medalartist p...,nan,globe show america fire1st place medalartist p...,nan,nan
2,2,2,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,3,3,nan,nan,nan,nan,consultant plastic and reconstructive surgeon,1366797112.0,nan,http://www.psauk.org/,...,nan,nan,consultant reconstructive,nan,nan,consult reconstruct,nan,consult reconstruct,nan,nan
4,4,4,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44154,44154,44154,drdariushnikkhah,finalising the 50 chapters of an exciting book...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,consultant plastic surgeon\nblack small square...,2.648972508227248e+18,nan,https://www.plasticreconsurg.co.uk/,...,finalising 50 chapters exciting book due relea...,mr dariush nikkhah frcsplast,consultant black small square uk envelope arro...,finalising 50 chapters exciting book due relea...,mr dariush nikkhah frcsplast,consult black small squar uk envelop arrowmrni...,finalis 50 chapter excit book due releas year ...,consult black small squar uk envelop arrowmrni...,finalis 50 chapter excit book due releas year ...,mr dariush nikkhah frcsplast
44155,44155,44155,drdariushnikkhah,at harefield heart red heart️ hospital - proba...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,consultant plastic surgeon\nblack small square...,2.647970732086912e+18,nan,https://www.plasticreconsurg.co.uk/,...,harefield red heart️ hospital probably hospita...,mr dariush nikkhah frcsplast,consultant black small square uk envelope arro...,harefield red heart️ hospital probably hospita...,mr dariush nikkhah frcsplast,consult black small squar uk envelop arrowmrni...,harefield red heart️ hospit probabl hospit kno...,consult black small squar uk envelop arrowmrni...,harefield red heart️ hospit probabl hospit kno...,mr dariush nikkhah frcsplast
44156,44156,44156,drdariushnikkhah,great to be back at the first face to face sci...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,consultant plastic surgeon\nblack small square...,2.6595521120296827e+18,nan,https://www.plasticreconsurg.co.uk/,...,great back first face face scientific meeting ...,mr dariush nikkhah frcsplast,consultant black small square uk envelope arro...,great back first face face scientific meeting ...,mr dariush nikkhah frcsplast,consult black small squar uk envelop arrowmrni...,great back first face face scientif meet 2 yea...,consult black small squar uk envelop arrowmrni...,great back first face face scientif meet 2 yea...,mr dariush nikkhah frcsplast
44157,44157,44157,drdariushnikkhah,before and after of a bilateral breast reducti...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,consultant plastic surgeon\nblack small square...,2.646592842833166e+18,nan,https://www.plasticreconsurg.co.uk/,...,bilateral breast reduction procedure performed...,mr dariush nikkhah frcsplast,consultant black small square uk envelope arro...,bilateral breast reduction procedure performed...,mr dariush nikkhah frcsplast,consult black small squar uk envelop arrowmrni...,bilater breast reduct procedur perform recent ...,consult black small squar uk envelop arrowmrni...,bilater breast reduct procedur perform recent ...,mr dariush nikkhah frcsplast
44158,44158,44158,drdariushnikkhah,local anaesthetic flexor tendon repair is a sa...,mr dariush nikkhah frcs(plast),https://scontent-lhr8-1.cdninstagram.com/v/t51...,nan,nan,nan,nan,...,local anaesthetic flexor tendon repair safe ef...,mr dariush nikkhah frcsplast,nan,local anaesthetic flexor tendon repair safe ef...,mr dariush nikkhah frcsplast,nan,local anaesthet flexor tendon repair safe effe...,nan,local anaesthet flexor tendon repair safe effe...,mr dariush nikkhah frcsplast

In [86]:
df_final=df.drop(['biography','caption', 'profile_name', 'biography_wo_punc',	'caption_wo_punc'	,'biography_wo_stop',	'caption_wo_stop',	'profile_wo_punc'	,'profile_wo_stop'	,'biography_wo_stopfreq',	'caption_wo_stopfreq'	,'profile_wo_stopfreq','biography_wo_stopfreqrare'	,'caption_wo_stopfreqrare',	'profile_wo_stopfreqrare'	,'biography_stemmed'	,'caption_stemmed'], axis=1)

In [87]:
df_final.drop(['account'], axis=1, inplace=True)
df_final.drop(['Unnamed: 0'], axis=1, inplace=True)

In [88]:
# old_names = [ 'input_account', 'biography_final', 'caption_final', 'profile_final'] 
# new_names = {'account', 'biography', 'caption', 'profile'}
# df_final.columns=new_names


df = df_final.rename(columns={'input_account': 'account','biography_final':'biography','caption_final':'caption','profile_final':'profile'})

In [ ]:
df

##Translation of Non-english language

In [36]:
pip install googletrans==3.1.0a0

Requirement already satisfied: googletrans==3.1.0a0 in /usr/local/lib/python3.7/dist-packages (3.1.0a0)
Requirement already satisfied: httpx==0.13.3 in /usr/local/lib/python3.7/dist-packages (from googletrans==3.1.0a0) (0.13.3)
Requirement already satisfied: hstspreload in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2021.12.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2021.10.8)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.2.0)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Requirement already satisfied: rfc3986<2,>=1.3 in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.5.0)
Requirement already satisfied: httpcore==0.9.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (0.9.1)
Requirement already satisfied: h2==3.* in /usr/local/lib/python3.7/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.2.0)
Requirement already satisfied: h11<0.10,>=0.8 in /usr/local/lib/python3.7/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (0.9.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /usr/local/lib/python3.7/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in /usr/local/lib/python3.7/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.0.0)

In [37]:
from googletrans import Translator

In [39]:
# def translation(words):
#   translator = Translator()
#   res=translator.translate(words, dest='en')
#   return res.text

In [41]:
#DO NOT RUN IT!
#df.biography=df.biography.map(lambda x : translation(str(x)))

In [42]:
#DO NOT RUN IT! It takes almost 2h, so I stored it in a new dataframe 
#df.caption=df.caption.map(lambda x : translation(str(x)))

In [90]:
df.to_csv('df_trans_cap.csv', encoding='utf-8')

In [91]:
df=pd.read_csv('df_trans_cap.csv')

In [92]:
df

,Unnamed: 0,Unnamed: 0.1,profile_image_link,id,business_email,external_url,following,likes,media_type,posts_count,...,datetime,image_url,url,comments,thumbnails,location,hashtags,biography,caption,profile
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN
1,1,1,NaN,3.654414e+09,NaN,NaN,1105.0,NaN,NaN,515.0,...,NaN,NaN,NaN,NaN,NaN,NaN,[],globe show america fire1st place medalartist p...,NaN,NaN
2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN
3,3,3,NaN,1.366797e+09,NaN,http://www.psauk.org/,57.0,NaN,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,[],consult reconstruct,NaN,NaN
4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44154,44154,44154,https://scontent-lhr8-1.cdninstagram.com/v/t51...,2.648973e+18,NaN,https://www.plasticreconsurg.co.uk/,299.0,137.0,image,136.0,...,1.630002e+12,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/ctdcnycqsbp/,6.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....","london, united kingdom",[],consult black small squar uk envelop arrowmrni...,finalis 50 chapter excit book due releas year ...,mr dariush nikkhah frcsplast
44155,44155,44155,https://scontent-lhr8-1.cdninstagram.com/v/t51...,2.647971e+18,NaN,https://www.plasticreconsurg.co.uk/,299.0,83.0,image,136.0,...,1.629883e+12,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/cs e1ntq-qo/,3.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....",NaN,[],consult black small squar uk envelop arrowmrni...,harefield red hospit probabl hospit know still...,mr dariush nikkhah frcsplast
44156,44156,44156,https://scontent-lhr8-1.cdninstagram.com/v/t51...,2.659552e+18,NaN,https://www.plasticreconsurg.co.uk/,299.0,75.0,carousel,136.0,...,1.631263e+12,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/ctooi4tk0sf/,0.0,"[{""src"":""https://scontent-lhr8-1.cdninstagram....","oxford, oxfordshire",[],consult black small squar uk envelop arrowmrni...,great back first face face scientif meet 2 yea...,mr dariush nikkhah frcsplast
44157,44157,44157,https://scontent-lhr8-1.cdninstagram.com/v/t51...,2.646593e+18,NaN,https://www.plasticreconsurg.co.uk/,299.0,77.0,image,136.0,...,1.629718e+12,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/cs6liswkx4k/,7.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....","london, united kingdom","['#plasticsurgery', '#breastsurgery', '#breast...",consult black small squar uk envelop arrowmrni...,bilater breast reduct procedur perform recent ...,mr dariush nikkhah frcsplast
44158,44158,44158,https://scontent-lhr8-1.cdninstagram.com/v/t51...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"['#wideawakehandsurgery', '#walant', '#flexort...",NaN,local anaesthet flexor tendon repair safe effe...,mr dariush nikkhah frcsplast

#Final dataframe

In [93]:
df.to_csv('after_preprocessing.csv', encoding='utf-8')

In [94]:
df

,Unnamed: 0,Unnamed: 0.1,profile_image_link,id,business_email,external_url,following,likes,media_type,posts_count,...,datetime,image_url,url,comments,thumbnails,location,hashtags,biography,caption,profile
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN
1,1,1,NaN,3.654414e+09,NaN,NaN,1105.0,NaN,NaN,515.0,...,NaN,NaN,NaN,NaN,NaN,NaN,[],globe show america fire1st place medalartist p...,NaN,NaN
2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN
3,3,3,NaN,1.366797e+09,NaN,http://www.psauk.org/,57.0,NaN,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,[],consult reconstruct,NaN,NaN
4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44154,44154,44154,https://scontent-lhr8-1.cdninstagram.com/v/t51...,2.648973e+18,NaN,https://www.plasticreconsurg.co.uk/,299.0,137.0,image,136.0,...,1.630002e+12,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/ctdcnycqsbp/,6.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....","london, united kingdom",[],consult black small squar uk envelop arrowmrni...,finalis 50 chapter excit book due releas year ...,mr dariush nikkhah frcsplast
44155,44155,44155,https://scontent-lhr8-1.cdninstagram.com/v/t51...,2.647971e+18,NaN,https://www.plasticreconsurg.co.uk/,299.0,83.0,image,136.0,...,1.629883e+12,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/cs e1ntq-qo/,3.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....",NaN,[],consult black small squar uk envelop arrowmrni...,harefield red hospit probabl hospit know still...,mr dariush nikkhah frcsplast
44156,44156,44156,https://scontent-lhr8-1.cdninstagram.com/v/t51...,2.659552e+18,NaN,https://www.plasticreconsurg.co.uk/,299.0,75.0,carousel,136.0,...,1.631263e+12,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/ctooi4tk0sf/,0.0,"[{""src"":""https://scontent-lhr8-1.cdninstagram....","oxford, oxfordshire",[],consult black small squar uk envelop arrowmrni...,great back first face face scientif meet 2 yea...,mr dariush nikkhah frcsplast
44157,44157,44157,https://scontent-lhr8-1.cdninstagram.com/v/t51...,2.646593e+18,NaN,https://www.plasticreconsurg.co.uk/,299.0,77.0,image,136.0,...,1.629718e+12,j kzvc99wm2q4pjru5kn.c8774cb5509196a5a43b8ebc2...,https://www.instagram.com/p/cs6liswkx4k/,7.0,"[{""src"":""https://scontent-lhr8-2.cdninstagram....","london, united kingdom","['#plasticsurgery', '#breastsurgery', '#breast...",consult black small squar uk envelop arrowmrni...,bilater breast reduct procedur perform recent ...,mr dariush nikkhah frcsplast
44158,44158,44158,https://scontent-lhr8-1.cdninstagram.com/v/t51...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"['#wideawakehandsurgery', '#walant', '#flexort...",NaN,local anaesthet flexor tendon repair safe effe...,mr dariush nikkhah frcsplast