#Modules

In [13]:
import pandas as pd
import numpy as np
import gensim
from matplotlib import pyplot as plt
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
%matplotlib inline
import re  # For preprocessing
import pandas as pd  # For data handling
from time import time  # To time our operations
from collections import defaultdict  # For word frequency
import seaborn as sns
import spacy  # For preprocessing
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import logging  # Setting up the loggings to monitor gensim
logging.basicConfig(format="%(levelname)s - %(asctime)s: %(message)s", datefmt= '%H:%M:%S', level=logging.INFO)
from sklearn.model_selection import train_test_split

import xgboost as xgb
from sklearn.model_selection import GridSearchCV

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
bow_data=pd.read_csv('/content/drive/MyDrive/NLP/Dataset/bow_dataset.csv')
tf_idf_data=pd.read_csv('/content/drive/MyDrive/NLP/Dataset/tfidf_dataset.csv')
w2v_df=pd.read_csv('/content/drive/MyDrive/NLP/Dataset/w2v_df.csv')
d2v_df=pd.read_csv('/content/drive/MyDrive/NLP/Dataset/d2v_df.csv')

#bow

In [4]:
bow_data.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1010,1011,1012,1013,1014,1015,1017,1019,1022,1023
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.001996,0.001209,1.0,0.166667,0.000000,0.192308,0.005571
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.001996,0.001209,1.0,0.187500,0.000000,0.038462,0.008959
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.019871,0.014965,0.5,0.520833,0.000000,0.000000,0.030561
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.019871,0.014965,1.0,0.583333,0.000000,0.000000,0.029139
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.019871,0.014965,1.0,0.583333,0.057143,0.000000,0.029139

In [5]:
dropped = ['Unnamed: 0']
data = bow_data.drop(dropped,axis=1)
bow_data=data

In [6]:
# y = np.ravel(data[806])
y=bow_data.iloc[ :, -1:]  #Target Variable          
X=bow_data.iloc[: , :-1]  #Feature Matrix 

# y.head()

In [7]:
#converted the dataframe

X=pd.DataFrame(X)
y=pd.DataFrame(y)

In [8]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2022)

In [9]:
def hyperparameter_Tuning():
    model = xgb.XGBRegressor()
    parameters = {'nthread':[4],
                  'objective':['reg:linear'],
                  'learning_rate': [.03, 0.05, .07], #so called `eta` value
                  'max_depth': [5, 6, 7],
                  'min_child_weight': [4],
                  'silent': [1],
                  'subsample': [0.7],
                  'colsample_bytree': [0.7],
                  'n_estimators': [500]}

    model_grid = GridSearchCV(model,parameters,cv = 2,n_jobs = 5, verbose=True)

    model_grid.fit(x_train, y_train)
    model_grid.best_score_
    model_grid.best_params_
    return model_grid.best_params_

In [14]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.7, learning_rate = 0.03,max_depth = 5, min_child_weight=4,nthread = 4, n_estimators = 20)
xg_reg.fit(x_train, y_train)
y_pred = xg_reg.predict(x_test)


rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE: %f" % (rmse))
R2=r2_score(y_test,y_pred)
print("R2 Score: %f" % (R2))
print()

[11:11:43] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE: 0.257924
R2 Score: -13.849774

In [15]:
y_test

y_pred=pd.DataFrame(y_pred)
y_pred

             0
0     0.285272
1     0.280820
2     0.280820
3     0.283365
4     0.273604
...        ...
8344  0.272941
8345  0.286944
8346  0.287232
8347  0.282637
8348  0.286311

[8349 rows x 1 columns]

In [18]:
def plot_feature_importance(importance,names,model_type):

#Create arrays from feature importance and feature names
  feature_importance = np.array(importance)
  feature_names = np.array(names)

  #Create a DataFrame using a Dictionary
  data={'feature_names':feature_names,'feature_importance':feature_importance}
  fi_df = pd.DataFrame(data)

  #Sort the DataFrame in order decreasing feature importance
  fi_df.sort_values(by=['feature_importance'], ascending=False,inplace=True)

  #Define size of bar plot
  plt.figure(figsize=(20,20))
  #Plot Searborn bar chart
  sns.barplot(x=fi_df['feature_importance'], y=fi_df['feature_names'])
  #Add chart labels
  plt.title(model_type + 'FEATURE IMPORTANCE')
  plt.xlabel('FEATURE IMPORTANCE')
  plt.ylabel('FEATURE NAMES')

# plot_feature_importance(xg_reg.feature_importances_,x_train.columns,'XG BOOST')

#tfid

In [19]:
tf_idf_data.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1010,1011,1012,1013,1014,1015,1017,1019,1022,1023
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.001996,0.001209,1.0,0.166667,0.000000,0.192308,0.005571
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.001996,0.001209,1.0,0.187500,0.000000,0.038462,0.008959
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.019871,0.014965,0.5,0.520833,0.000000,0.000000,0.030561
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.019871,0.014965,1.0,0.583333,0.000000,0.000000,0.029139
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.019871,0.014965,1.0,0.583333,0.057143,0.000000,0.029139

In [20]:
y=tf_idf_data.iloc[ :, -1:]  #Target Variable          
X=tf_idf_data.iloc[: , :-1]  #Feature Matrix 

# y.head()

In [21]:
#converted the dataframe

X=pd.DataFrame(X)
y=pd.DataFrame(y)

In [22]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2022)

In [23]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.7, learning_rate = 0.03,max_depth = 5, min_child_weight=4,nthread = 4, n_estimators = 20)
xg_reg.fit(x_train, y_train)
y_pred = xg_reg.predict(x_test)

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE: %f" % (rmse))
R2=r2_score(y_test,y_pred)
print("R2 Score: %f" % (R2))
print()

[11:13:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE: 0.257855
R2 Score: -13.841823

In [24]:
y_test

y_pred=pd.DataFrame(y_pred)
y_pred

             0
0     0.285744
1     0.280909
2     0.280909
3     0.283301
4     0.273328
...        ...
8344  0.272939
8345  0.287450
8346  0.287095
8347  0.282579
8348  0.285430

[8349 rows x 1 columns]

#w2v

In [25]:
y=w2v_df.iloc[ :, -1:]  #Target Variable          
X=w2v_df.iloc[: , :-1]  #Feature Matrix 

X=pd.DataFrame(X)
y=pd.DataFrame(y)
for i in X.columns:
  X[i]=pd.to_numeric(X[i])
for i in y.columns:
  y[i]=pd.to_numeric(y[i])


x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [28]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.7, learning_rate = 0.03,max_depth = 5, min_child_weight=4,nthread = 4, n_estimators = 500,silent=1,subsample=0.7)
xg_reg.fit(x_train, y_train)
y_pred = xg_reg.predict(x_test)

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE: %f" % (rmse))

R2=r2_score(y_test,y_pred)
print("R2 Score: %f" % (R2))

RMSE: 0.015168
R2 Score: 0.951864

#d2v

In [29]:
y=d2v_df.iloc[ :, -1:]  #Target Variable          
X=d2v_df.iloc[: , :-1]  #Feature Matrix

X=pd.DataFrame(X)
y=pd.DataFrame(y)

for i in X.columns:
  X[i]=pd.to_numeric(X[i])
for i in y.columns:
  y[i]=pd.to_numeric(y[i])


x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [30]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.7, learning_rate = 0.03,max_depth = 5, min_child_weight=4,nthread = 4, n_estimators = 500,silent=1,subsample=0.7)
xg_reg.fit(x_train, y_train)
y_pred = xg_reg.predict(x_test)

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE: %f" % (rmse))

R2=r2_score(y_test,y_pred)
print("R2 Score: %f" % (R2))

RMSE: 0.017395
R2 Score: 0.918784